body {
    background-color:#033B3D;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
a{
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;   
    color: white;
    margin: auto 0;
    padding: 20px;
}
a:hover{
    padding: 10px;
    background-color:#0D4A3A;
    border-radius: 10px;

}
header{
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.div_ba{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.div_title{
    color: white;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif ;
    position: relative;
    left: 50px;
    margin: auto 0;
    width: 400px;
}
.grid_1cont{
    padding: 2%;
}
.grid_1{
    display: grid;
    grid-template-columns: auto auto;
    padding: auto;
    border: 5px ridge #2D5731;
}
.coteiner_1{

    text-align: center;

}
.centrar {
    text-align: center;
}

.grid_2cont{
    padding: 2%;

}
.grid_2{
    display: flex;
    display: grid;
    grid-template-columns: auto ;
    border: 5px double #2D5731;
    padding: auto;
    justify-content: center;

    
    
}
.coteiner_2{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
}
.grid_3cont{
    padding: 2%;
}
.grid_3{
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: auto;

}
.conteiner_3{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
}