body {
    background-color:#0D4A3A;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0 auto;

}
.nav{
    background-color: #033B3D ;

    --img1: scale(1);
    --img2: scale(0);
}

.nav:has( .dropdown:target ){
    --img1: scale(0);
    --img2: scale(1);

    --clip:inset(0 0 0 0);

}

.nav__container{
    width: 90%;
    margin: 0 auto;
    height: 70px;

    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "title img";
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

.nav__title{
    color: #fff;
    grid-area: title;
}


.nav__menu{
    grid-area: img;
    position: relative;
    z-index: 10;

    transform: var(--img1);
}

.nav__menu--second{
    transform: var(--img2);
}

.nav__icon{
    width: 30px;
    display: block;
}

.dropdown{
    margin: 0 auto;
    position: absolute;
    background-color: #2D5731;
    width: 75%;
    max-width: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1em;

    display: grid;
    align-content:center ;
    gap: 1rem;

    overflow-y: auto;


    clip-path: var(--clip, inset(0 0 100% 100%));
    transition: clip-path .5s;
}
.dropdown__list{
    list-style: none;
}

.dropdown__link{
    color: rgb(184, 187, 191);
    padding: 1em .7em;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .6rem;
    position: relative;
    background-color: var(--bg, transparent);
    border-radius: 6px;
}

.dropdown__list:has( :checked ){
    --rows: 1fr;
    --rotate: rotate(180deg);
    --bg: #28303B;
}

.dropdown__check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown__arrow{
    margin-left: auto;
    transform: var(--rotate, 0);
    transition: .2s transform;
}

.dropdown__content{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
}

.dropdown__sub{
    overflow: hidden;

}

.dropdown__li{
    width: 85%;
    list-style: none;
    margin-left: auto;
}

.dropdown__anchor{
    padding: 1em 0;
    display: block;
    color: #B6BABE;
    text-decoration: none;
}
.img_banner{
    display: flex;
    grid-column: span 1;
    flex-direction: row;

}

.div_ba{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.div_title{
    color: white;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif ;
    position: relative;
    left: 50px;
    margin: auto 0;
    width: 400px;
}

.grid_1{
    display: flex;
    display: grid;
    grid-template-columns: auto ;
    padding: auto;
    justify-content: center;



}

.grid_2cont{
    padding: 2%;

}

.grid_2{
    display: flex;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-around;

}
.coteiner_2{
    display: flex;
    display: grid;
    grid-template-rows: auto;
    padding: auto;
    background-color: #526126;
    justify-content: space-evenly;

    
    
}
.grid_3cont{
    padding: 2%;
}
.grid_3{
    display: grid;
    grid-template-columns: auto auto auto ;
    padding: auto;

}
.conteiner_3{
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
}
.img_des{
    margin: 0 auto;
    width: 200px;
    height: 300px;
    border: 5px ridge #526126;
    transition: all 0.3s ease;

}
.img_des:hover{
    transform: scale(1.1);

}
.grid_es{
    display: grid;
    display: flex;
    grid-template:  auto /auto auto; 
    padding: 10%;
    align-items: center;
    border-radius: 80px;
    background-color: #526126;
    text-align: justify ;

}

.imgs_de{
    width: 50%;
    transition: all 0.2s ease-in-out;
    padding: 20%;
    align-items: center;


}
.h1_cata{

    font-size: 1rem;
}
.imgm_ca{
    width: 20%;
    height:20%;

}
.imgs_de:hover{

    transform: scale(0.9);
}
.grid_es1{

    display: grid;
    display: flex;
    text-align: justify;
    grid-template:  auto /auto auto; 
    padding: 10%;
    align-items: center;
    justify-content: center;


}
/*PRODUCTOS*/
.containerproducts{

    display: grid;
    grid-template-columns: 50% 50%;
    border: 2px solid rgba(68, 68, 68, 0.308);
    width: 80%; 
    background-color: #526126;
    margin: 0 auto; 
    padding: 10px;
}
.containerimages{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100px 100px 100px 100px;
    align-items: center;
    max-width: 500px;
    gap: 20px;
    

}
.h2{
    color: red;
    transition: all 0.3s ease-in-out;
}
.h2:hover{
    color: rgba(255, 0, 0, 0.479)
}
.productop1, .productop2, .productop3, .productop4{
    width: 100px;
    height: 100px;
    border: 3px solid rgba(128, 128, 128, 0.527);
    border-radius: 5px;
}
.p1,.p2,.p3, .p4{
    width: 100%; 
}
.pg1,.pg2,.pg3, .pg4{
    width: 100%;   
}
.productog1{
    visibility: visible;
    width: 400px;
    height: auto;
    max-height: 380px;
    margin: 3%;
    grid-column: 2/2;
    grid-row: 1/span 4;
    max-width: 90%;
    overflow: hidden;
}
.productog2, .productog3, .productog4{
    max-width: 90%;
    visibility: hidden;
    margin: 3%;
    width: 500px;
    max-height: 380px;

    height: auto;
    grid-column: 2/2;
    grid-row: 1/span 4;
    overflow: hidden;
}
.txtproduct{
    text-align: justify;
    font-size: 20px;
    padding-right: 20px;
}
.btn{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background-color: #7b6823;
    color: white;
}
.productop2:hover~.productog2{
    visibility: visible;

}
.productop3:hover~.productog3{
    visibility: visible;

}
.productop4:hover~.productog4{
    visibility: visible;

}
.productop1:hover ,.productop2:hover ,.productop3:hover, .productop4:hover{
    border: 2px solid #7DF0E3;
    border-radius: 5px;
    transform: scale(1.1);
}
@media screen and (max-width: 1250px) {
    .containerproducts{

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 400px;
        border: 2px solid rgba(68, 68, 68, 0.308);
        width: 80%; 
        background-color: #526126;
        margin: 0 auto; 
        padding: 10px;
        overflow:scroll;
    }
    .containerimages{
        display: grid;
        grid-template-columns: 50px 50px 50px 50px;
        grid-template-rows: 300px 100px;
        align-items: center;
        max-width: 500px;
        gap: 20px
    
    }
    .productop1, .productop2, .productop3, .productop4{
        width: 50px;
        height: 50px;
        border: 3px solid rgba(128, 128, 128, 0.527);
        border-radius: 5px;
    }
    .productog1{
        visibility: visible;
        width: 200px;
        height: auto;
        max-height: 250px;
        margin: 3%;
        grid-column: 1/ span 4;
        grid-row: 1/1;
        max-width: 90%;
        overflow: hidden;
    }
    .productog2, .productog3, .productog4{
        max-width: 90%;
        visibility: hidden;
        margin: 3%;
        width: 250px;
        max-height: 250px;
    
        height: auto;
        grid-column: 1/ span 4;
        grid-row: 1/1;
        overflow: hidden;
    }
    
}
@media screen and (max-width: 600px) {
    .img_banner{
        margin: 0;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;

        align-items: center;
    }
    .grid_2{
        grid-template-columns: auto;  
    }
    .coteiner_2{
        grid-template-rows: auto auto;
    }
}
.contPagProducto {
    margin: auto;
    width: 90%;

    background-color: var(--colorCuaternario);
    padding: 20px;
    padding-top: 100px;
    padding-bottom: 70px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#caracteristicas, #descripcion {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorSecundario);
    text-align: center;
    flex-direction: column;
    z-index: 3;

}
#descripcion {
    border-top: solid 2px var(--colorCuaternario);
    text-align: left;
    margin-top: 0;
}

.tablaInformacion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

table {
    border: 2px solid var(--colorTerciario);
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10px;
    border: 2px solid var(--colorTerciario);
}

.infoTxt {
    width: 60%;
}

#reviews {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    background-color: var(--white);
    padding: 30px;
    border-radius: 10px;
}

.review {
    border: solid 2px var(--colorSecundario);
    margin: 10px;
    padding: 20px;
}

.txtReview {
    color: var(--black);
    padding: 30px;
}

@media screen and (max-width: 600px) {
    .contPagProducto {
        grid-template-columns: 100%;
    }

    .contImg {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr;
    }

    .btnObtener {
        width: 100%;
    }

    #reviews{
        width: 100%;
        border-radius: 0;
    }
}

@media screen and (max-width: 600px) {
    /* Camaras  Responsive*/
    
    .contImgGrandeCamara1 {
        grid-column: 1 / span 2;
    }

    .contImgGrandeCamara2 {
        grid-column: 1 / span 2;
    }

    .contImgGrandeCamara3 {
        grid-column: 1 / span 2;
    }
    
    .contImgGrandeCamara4 {
        grid-column: 1 / span 2;
    }

    /* Camisas Responsiva */

    .contImgGrandeCamisa1 {
        grid-column: 1 / span 2;
    }

    .contImgGrandeCamisa2 {
        grid-column: 1 / span 2;
    }

    .contImgGrandeCamisa3 {
        grid-column: 1 / span 2;
    }

    .contImgGrandeCamisa {
        grid-column: 1 / span 2;
    }

    
    /* Celalares Responsiva */
    
    .contImgGrandeCelular1 {
        grid-column: 1 / span 2;
    }

    .contImgGrandeCelular2 {
        grid-column: 1 / span 2;
    }

    .contImgGrandeCelular3 {
        grid-column: 1 / span 2;
    }

    .contImgGrandeCelular4 {
        grid-column: 1 / span 2;
    }
    
    /* Portatiles Responsiva */

    .contImgGrandePortatil1 {
        grid-column: 1 / span 2;
    }

    .contImgGrandePortatil2 {
        grid-column: 1 / span 2;
    }

    .contImgGrandePortatil3 {
        grid-column: 1 / span 2;
    }

    .contImgGrandePortatil4 {
        grid-column: 1 / span 2;
    }

    /* Zapatos Responsiva */

    .contImgGrandeZapato1 {
        grid-column: 1 / span 2;
    }

    .contImgGrandeZapato2 {
        grid-column: 1 / span 2;
    }

    .contImgGrandeZapato3 {
        grid-column: 1 / span 2;
    }

    .contImgGrandeZapato4 {
        grid-column: 1 / span 2;
    }
}
