*{
    background-color: moccasin;
}
a{
    text-decoration: none;
    font-size: 50px;
    position: relative;
    
    left: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    background-color: salmon;
    border: 5px solid black;
}
.h1_title{
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif ;
}
.banner{
    width: 2000px;
    position: absolute;
    right: 175px;
    border: 10px double black;
    border-radius: 30px;
}
